# Не включаем служебные директории IDE
.zed
.vscode

# Не включаем содержимое директории с исполняемыми файлами
/bin/*
!/bin/.gitkeep

# Не включаем содержимое директории с автоматически создаваемым хранилищем
/storage/*
!/storage/.gitkeep

# Не включаем код с ручными тестами
/cmd/test*
